.about-us-hero-section{
    background-image: url(../assets/contact-us-hero.jpg);
    background-size:cover;
    margin-bottom:100px;
}
.info{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}
.Icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.directions{
    display: flex;
    flex-direction: row;
    gap:40px;
    justify-content: center;
    
}
.direction-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: brown;
}
.location-img{
    width: 624px;
    height: 384px;
}

@media only screen and (min-width:320px) and (max-width:425px)  {
    
    .info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
    }
    
    .directions{
        display: flex;
        flex-direction: column;
        gap:40px;
        align-items: center;
        
    }
    
    .location-img{
        width: 300px;
        height: auto;
    }
}


@media only screen and (min-width:426px) and (max-width:768px)  {
    
    .info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
    }
    
    .directions{
        display: flex;
        flex-direction: column;
        gap:40px;
        align-items: center;
        
    }
    
    .location-img{
        width: 700px;
        height: auto;
    }
    
}