.find-help-hero{
    background-image: url(../assets/find-help-hero.jpg);
    background-size:cover;
    margin-bottom:100px;
}
.find-help-hero-text{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 732px;
}
.main-service{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.service{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service p{
    width: 260px;;
    
}
.service h1{
    font-size: medium;
}
.seek-help{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.seek-help p{
    color: black;
    width: 732px;;
}
.find-button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 100px;
    align-items: center ;
}
.border-button{
    background-color: rgb(171, 0, 0);
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    
}

@media only screen and (min-width:320px) and (max-width:425px)  {
    
    .find-help-hero-text{
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 300px;
    }
    
    .main-service{
        flex-direction: column;
        gap: 50px;}
        
        .seek-help p{
            width: 300px;;
        }
    }
    
    
    /* FOR TABLET */
    @media only screen and (min-width:426px) and (max-width:768px)  {
        
        .find-help-hero-text{
            display: flex;
            text-align: center;
            flex-direction: column;
            width: 500px;
        }
        .main-service{
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }
        
        
        .seek-help p{
            width: 300px;;
        }
        
        .service{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
    }
